*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial,sans-serif;
}

body{
  background:#0f0f0f;
  color:white;
}

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 40px;
  background:#141414;
}

.logo{
  font-size:28px;
  color:#7CFC00;
  font-weight:bold;
}

.nav-links a{
  color:white;
  text-decoration:none;
  margin-left:20px;
}

.nav-links a:hover{
  color:#7CFC00;
}

.hero{
  height:90vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:20px;
  background:
  linear-gradient(rgba(0,0,0,0.5),
  rgba(0,0,0,0.6)),
  url('imagess/67.jpg');
  background-size:cover;
}

.hero h1{
  font-size:60px;
  margin-bottom:20px;
}

.hero p{
  font-size:22px;
  max-width:700px;
}

section{
  padding:60px 40px;
}

.section-title{
  text-align:center;
  font-size:40px;
  color:#7CFC00;
  margin-bottom:40px;
}

.cards{
  display:grid;
  grid-template-columns:
  repeat(auto-fit,minmax(280px,1fr));
  gap:25px;
}

.card{
  background:#1b1b1b;
  border-radius:15px;
  overflow:hidden;
}

.card img{
  width:100%;
  height:220px;
  object-fit:cover;
}

.card h2{
  padding:15px;
}

.card p{
  padding:0 15px 20px;
}

.gallery{
  display:grid;
  grid-template-columns:
  repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
}

.gallery img{
  width:100%;
  height:250px;
  object-fit:cover;
  border-radius:15px;
}

form{
  display:flex;
  flex-direction:column;
  gap:20px;
  max-width:600px;
  margin:auto;
}

input,textarea{
  padding:15px;
  border:none;
  border-radius:10px;
}

button{
  padding:15px;
  border:none;
  border-radius:10px;
  background:#7CFC00;
  cursor:pointer;
  font-size:18px;
}